*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color:white;
     font-family: "Urbanist", sans-serif;
    font-weight: 400;
}
body{
    background-color: #141414;
    overflow-x: hidden;
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
    transition: all 0.5s ease;
}
a:hover{
    opacity: .7;
}

/* header */

header{
    background: url('/Assets/abstract.png'), linear-gradient(to top, rgba(0, 0, 0, 0.756), rgba(0, 0, 0, 0.739));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
}
.header-cancel{
    position: absolute;
    right: 20px;
    background: rgba(255, 255, 255, 0.126);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.header-cancel:hover{
    background: rgba(255, 255, 255, 0.226);
}

/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    border-top: 1px solid rgba(128, 128, 128, 0.507);
    border-bottom: 1px solid rgba(128, 128, 128, 0.507);
}
.nav-ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
.active-navlink{
     background: transparent;
    border: 1px solid rgba(128, 128, 128, 0.507);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
  
}
.button-outline{
    background: transparent;
    border: 1px solid rgba(128, 128, 128, 0.507);
    padding: 12px 24px;
    font-size: 1.1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.button-solid{
    color: white;
    background: #703BF7;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.button-solid:hover{
    background: white;
    color:#703BF7 ;
}
.button-outline:hover{
    background: gray;
    color: black;
}

/* hero section */

.hero{
    display: flex;
    
    align-items: center;
    text-align: center;
   
    padding-left:60px;
    gap: 20px;
}
.hero-left{
   flex: 1;
   display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hero-left h1{
    font-size: 46px;
    font-weight: 500;
    text-align: start;
}
.hero-left p{
    margin: 20px 0;
    font-size: 20px;
    text-align: start;
    color: #b3b3b3;
}
.hero-left .hero-buttons{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero-left .hero-cards-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
    gap: 10px;
}
.hero-left .hero-card{
    background-color: rgba(128, 128, 128, 0.145);
    padding: 14px 20px;
    border-radius: 10px;
    border: 1px solid #703BF7;
    text-align: start;
}
.hero-card h2{
    font-weight: 600;

}
.hero-card p{
   
    color: #b3b3b3;
}

.hero-right{
    flex: 1;
}
/*features*/
.feature-wrapper{
    display: flex;
    margin: 50px;
    gap: 40px;
    align-items: center;

}
.left{
  width: 40%;
}
.right{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    box-shadow: 1px 1px 5px #262626;
    padding: 20px;
    border-radius: 12px;
}
.trust{
    width: 40%;
    box-sizing: 1px 1px 5px #262626;
}
.feature-wrapper p{
    color: #999999;
    margin-top: 20px;
}
.image{
    display: flex;
    align-items: center;
    gap: 10px;
}

/*testimonies*/
.testimonies-wrapper{
    margin: 50px;
}
.left-one{
    width: 80%;
}
.goals3{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.goals{
    width: 30%;
    box-shadow: 1px 1px 5px #262626 ;
    margin: auto;
    padding: 20px;
}
.testimonies-wrapper p{
    color: #999999;
    margin-top: 15px;
}




/*experience*/

.experience-wrapper{
    margin: 50px;
}
.steps{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.step{
    width: 30%;
    margin-top: 30px;
    margin-right: 30px;
    box-shadow:1px 1px 5px #262626;
}
.step h4{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 5px #262626 ;
}
.experience-text h1{
    margin-bottom: 20px;
}
.experience-wrapper p{
    color: #999999;
    
}
.text{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 16px;
    border-radius: 0;
     background: linear-gradient(to top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), black, rgba(128, 0, 128, 0.308));
}
.text h2{
    font-size: 20px;
}

/*team*/

.team-wrapper{
    margin: 50px;
}
.team-image{
    display: flex;
    width: 100%;
    gap: 20px;
}
.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 1px 1px 5px #262626 ;
    border-radius: 12px;
    padding: 24px;
}
.hello{
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px #262626;
    border-radius: 100px;
    background-color: #1A1A1A;
    padding: 10px;
    padding-left: 20px;
    width: 100%;
    justify-content: space-between;
}
.team-text{
    margin-bottom: 40px;
    width: 80%;
}
.team-wrapper p{
    color: #999999;
}
.team-text p{
    margin-top: 15px;
}
.absolute-img1{
    position: relative;
}
.absolute{
    position: absolute;
    bottom: -15px;
    left: 35%;
}

/*client*/
.client-wrapper{
    margin: 50px;
}
.cards{
    display: flex;
    margin-top: 30px;
}
.client-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px #262626;
    margin: 10px;
    padding: 30px;
}
.part1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part2{
    display: flex;
    gap: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.part3{
    box-shadow: 1px 1px 5px #262626;
    padding: 20px;
    margin-top: 20px;
}
.year h3, .domain p{
    margin-top: 10px;
}
.pic-domain{
    display: flex;
    align-items: center;
}
.client-text p, .year p, .pic-domain p, .said{
    color: #999999;
}
.said, .client-text h1{
    margin-bottom: 10px;
}
.client-text{
    width: 80%;
}
.part1 button{
    background-color: #1A1A1A;
    border-style: hidden;
    padding: 14px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}
.part1 button:hover{
    background-color: #262626;
}
/*journey*/

.journey{
    display: flex;
    margin: 50px;
    gap: 100px;
    align-items: center;
}

.left-zero{
    width: 70%;
}
.left-zero p{
    color: #999999;
    margin-top: 20px;
}

/*footer*/

.input input, .input button{
    background: transparent;
    border: none;
}
.email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 5px #262626;
    padding: 14px;
}
.footer{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 50px;
    justify-content: space-between;

}
.homes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.homes p{
    color:#999999;
    margin-bottom: 20px;
}
.input-image{
    margin-bottom: 10px;
}
.Homed{
    display: flex;
    gap: 80px;
}

/*terms*/
.terms{
    display: flex;
    background-color: #1A1A1A;
    padding: 12px 50px;
    justify-content: space-between;
    align-items: center;
}
.condition{
    display: flex;
    gap: 20px;
}


.menu{
    display: none;
}
.hero-card3{
    background-color: rgba(128, 128, 128, 0.145);
    padding: 14px 20px;
    border-radius: 10px;
    border: 1px solid #703BF7;
    text-align: start;   
}
.hero-card3 h2{
    font-weight: 600;

}
.hero-card3 p{
   
    color: #b3b3b3;
}
.step4{
    width: 30%;
    margin-top: 30px;
    margin-right: 30px;
    box-shadow:1px 1px 10px #262626;
}
.step4 h4{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 10px #262626 ;
}
.step5{
    width: 30%;
    margin-top: 30px;
    margin-right: 30px;
    box-shadow:1px 1px 10px #262626;
}
.step5 h4{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 10px #262626 ;
}
.step6{
    width: 30%;
    margin-top: 30px;
    margin-right: 30px;
    box-shadow:1px 1px 10px #262626;
}
.step6 h4{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 10px #262626 ;
}
.client-card2{
    width: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px #262626;
    margin: 10px;
    padding: 30px;
}


@media screen and (max-width:641px) {

    .nav-ul{
        display: none;
    }
    .button-outline{
        display: none;
    }
    .menu{
        display: flex;
    }
    nav{
        padding: 15px 20px;
    }
    .hero{
        display: flex;
        flex-direction: column-reverse;
        padding: 25px 20px;
    }
    .hero-cards-wrapper{
        flex-wrap: wrap;
    }
    .hero-card{
        width: 49%;
    }
    .hero-card3{
        width: 100%;
    }
    .feature-wrapper{
        margin: 30px 20px;
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .trust{
        width: 100%;
    }
    .goals3{
        flex-wrap: wrap;
    }
    .goals{
        width: 100%;
        margin-bottom: 15px;
    }
    .testimonies-wrapper{
        margin: 20px;
    }
    .step4, .step5,.step6{
        display: none;
    }
    .step{
        width: 100%;
    }
    .experience-wrapper{
        margin: 20px;
    }
    .team-image{
        flex-direction: column;
    }
    .team-wrapper{
        margin: 40px 20px;
    }
    .team-text{
        width: 100%;
    }
    .client-wrapper{
        margin: 20px;
    }
    .client-text{
        width: 100%;
    }
    .client-card2{
        display: none;
    }
    .client-card{
        width: 100%;
    }
    .journey{
        margin: 50px 20px;
        flex-direction: column;
        gap: 30px;
    }
    .left-zero{
        width: 100%;
    }
    .button-solid{
        padding: 12px 220px;
    }
    .footer{
        margin: 30px 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .input{
        width: 100%;
    }
    .Homed{
        gap: 30px;
        flex-wrap: wrap;
    }
    .homes{
    width: 40%;
    margin-right: 30px;
    }
    .terms{
        flex-direction: column-reverse;
        gap: 10px;
    }
    .condition{
        flex-direction: column;
        align-items: center;
    }

}