*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color:white;
     font-family: "Urbanist", sans-serif;
    font-weight: 400;
}
body{
    background-color: #030303;
    overflow-x: hidden;
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
    transition: all 0.5s ease;
}
a:hover{
    opacity: .7;
}
.hero{
    align-items: center;
    text-align: center;
    padding-left:60px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
    gap: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.119), rgba(0, 0, 0, 0.087));

}
.hero-left h1{
    font-size: 46px;
    font-weight: 500;
    text-align: start;
}
.hero-left p{
    margin: 20px 0;
    font-size: 20px;
    text-align: start;
    color: #b3b3b3;
}
.feature{
    display: flex;
    align-items: center;
    gap: 10px;
}
.feature-card{
    background-color: rgba(128, 128, 128, 0.145);
    padding: 14px 20px;
    border-radius: 10px;
    border: 1px solid #703BF7;
    text-align: start;
    flex: 1;
    height: 160px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    font-size: .8rem;
}
.top-arrow{
    position: absolute;
    top: 20px;
    right: 20px;
}
.connect{
    align-items: center;
    text-align: center;
    padding-left:60px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
    gap: 20px;
    background:#141414
}
.connect-left h1{
    font-size: 46px;
    font-weight: 500;
    text-align: start;
}
.connect-left p{
    margin: 20px 0;
    font-size: 20px;
    text-align: start;
    color: #b3b3b3;
}

.connect{
    align-items: center;
    text-align: center;
    padding-left:60px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
    gap: 20px;
    background:#141414;
}
.location-left h1{
    font-size: 46px;
    font-weight: 500;
    text-align: start;
    margin: auto;
}
.location-left p{
    margin: 20px 0;
    
    text-align: start;
    color: #b3b3b3;
    

}
.pic{
    width: 100%;
}
.picture{
    width: 48%;
    padding: 20px;
    gap: 10px;
    

    
    
}
.first-pic{
    display: flex;
    gap: 10px;
    /* margin-top: 20px;
    margin-right: 40px; */
    
    


}
.explore{
    background-color: ;
    padding: 15px;
    width: 50%;
    margin: 20px;
}
.last-pic{
 width: 52%;
 padding: 20px;
}
.first-img{
    margin-top: 10px;
    margin-left: auto;
    gap: 10px;
    align-items: center;
    
    
    
}
.overall-section{
    background-color: ;

}
.second-pic{
    display: flex;
    gap: 10px;
}
.pic{
    width: 46%;
}
.smallpic-sec{
    display: flex;
    gap: 10px;
    width: 50%;
    padding: 20px;
    
    
}
.last-sec{
    width: 20% 

}
.last-para{
    color: #999999;
}

.footer{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 50px;
    justify-content: space-between;

}
.homes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.homes p{
    color:#999999;
    margin-bottom: 20px;
}
.input-image{
    margin-bottom: 10px;
}
.Homed{
    display: flex;
    gap: 80px;
}
.connect-go{
    display: flex;
    gap: 20px;
    text-align: start;
    margin-bottom: 20px;
    
}
input{
    background-color: #262626;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    

}.form{
    width: 30%;
}
.form1{
    width: 30%;
}
.form2{
    width: 30%;
}
.form3{
    width: 30%;
}
.connect-go2{
    display: flex;
    gap: 20px;
    text-align: start;
    
}
.form3{
    width: 30%;
}
.form4{
    width: 30%;
}
.form5{
    width: 30%;
}
input, select, textarea{
    background-color: #262626;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
}
.textarea-div{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 93%;
    
}
.term{
    width: 100%;
    display: flex;
    align-items: center;
}
.term-img{
    height: 20px;
    height: 20px;
    margin-right: 20px;
}
.butto-connect{
    background-color: #703BF7;
    font-size: large;
}
.term-wrapper{
    display: flex;
    margin-top: 20px;
}
.location{
    width: 100%;

}
.location-left{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 30px 10px;
    
}
.ok{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.newbuttonstyle{
    font-size: .7rem;
    display: flex;
    align-items: center;
}
.button-img{
    width: 16px;
    height: 16px;
}
.bustling{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.gallery{
    color: #999999;
    font-size: 18px;
}

.fullwidth{
    width: 100%;
}
.buttonn{
    font-size: 10px;
    text-wrap: nowrap;
}

.Explore{
    padding: 30px;
}
.top{
    display: flex;
    align-items: center;
    margin: 20px;
    

}
.journey{
    display: flex;
    margin: 50px;
    gap: 100px;
    align-items: center;
}

.left-zero{
    width: 70%;
}
.left-zero p{
    color: #999999;
    margin-top: 20px;
}
/*terms*/
.terms{
    display: flex;
    background-color: #1A1A1A;
    padding: 12px 50px;
    justify-content: space-between;
    align-items: center;
}
.condition{
    display: flex;
    gap: 20px;
}

