*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color:white;
     font-family: "Urbanist", sans-serif;
    font-weight: 400;
}
body{
    background-color: #141414;
    overflow-x: hidden;
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
    transition: all 0.5s ease;
}
a:hover{
    opacity: .7;
}

/* header */

header{
    background: url('/Assets/abstract.png'), linear-gradient(to
    top, rgba(0, 0, 0, 0.756), rgba(0, 0, 0, 0.739));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
}
.header-cancel{
    position: absolute;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.126);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.header-cancel:hover{
    background-color: rgba(255, 255, 255, 0.226);
}

/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    border-top: 1px solid rgba(128, 128, 128, 0.507);
    border-bottom: 1px solid rgba(128, 128, 128, 0.507);
}
.nav-ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
.active-navlink{
     background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.507);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
  
}
.button-outline{
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.507);
    padding: 12px 24px;
    font-size: 1.1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.button-solid{
    color: white;
    background-color: #703BF7;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.button-solid:hover{
    background-color: white;
    color:#703BF7 ;
}
.button-outline:hover{
    background-color: gray;
    color: black;
}
.menu{
    display: none;
}
/* location */
.location{
    display: flex;
    align-items: center;
    gap: 20px;
}
.address{
    display: flex;
    align-items: center;
}
.location1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imagelists{
    display: flex;
    gap: 5px;
    margin: 10px;
    background-color: #141414;
    padding: 10px;
    box-shadow: 1px 1px 10px #262626;
    border-radius: 10px;
}
.image{
    display: flex;
    gap: 15px;
    margin: 10px;
}
.hero{
    margin: 50px;
    align-items: center;
}
.heroimages{
    background-color: #1A1A1A;
    padding: 20px;
    align-items: center;
    border-radius:20px;
    box-shadow: 1px 1px 10px #262626;
    border:1px solid #262626;
    margin-top: 15px;
    margin-bottom: 15px;
}
.prices{
    color: #999999;;
}

/* features */
.no, .icon{
    display: flex;
    margin-right: 20px;
    align-items: center;
}
.features{
    display: flex;
    margin: 50px;
    justify-content: space-between;
}
.description, .key{
    width: 48%;
}
.features p{
    color: #999999;
}
.features h3{
    margin-bottom: 10px;
}
.sub-amenity{
    display: flex;
    padding: 10px;
    margin: 10px;
    border-left: #703BF7;
    background: linear-gradient(to right,#1A1A1A,#1a1a1ab2,#1a1a1a50);
}
.description p, .sub-amenity p{
    margin: 5px;
}
.no{
    padding: 30px 0px;
    display: flex;
    flex-wrap: wrap;
}


/* inquire */
.inquire{
    margin: 50px;
    display: flex;
    gap: 20px;
}
.left{
    width: 40%;
}
.right{
    width: 60%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #262626;
    padding: 20px;
    border:1px solid #262626;
    gap: 20px;
}
.text{
    display: flex;
    flex-wrap: wrap;
}
.text input{
    width: 50%;
    margin-bottom: 20px;
    margin-right: 5px;
    background-color: #262626;
    border-color: transparent;
    border-radius: 5px;
    padding: 10px;
}
select, textarea{
    width: 100%;
}
.agree label{
    margin-right: 160px;
}
.agree{
    margin-top: 20px;
}
.left p{
    color: #999999;
    margin-top: 30px;
}
.right select, .right textarea{
    background-color: #262626;
    border-color: transparent;
    border-radius: 5px;
    padding: 10px;
}
.label{
    display: flex;
    flex-direction: column;
    width: 50%;
}


/* faq */

.faq{
    margin: 50px;
}
.faq p{
    color: #999999;
}
.up-p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.down{
    display: flex;
    margin-top: 20px;
}
.card, .card2{
    width: 30%;
    box-shadow: 1px 1px 10px #262626;
    margin-right: 40px;
    padding: 20px;
}
.down p{
    margin-top: 30px;
    margin-bottom: 20px;
}

/* details */

.note{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #262626;
    padding: 10px;
    border-radius: 5px;
    margin-top: 40px;
}
.p1{
    margin-top: 15px;
}
.details p{
    color: #999999;
}
.details{
    margin: 50px;
}

/* listprices */

.list-price{
    display: flex;
    margin: 50px;
}
.texts{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 50px;
}
.more{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.fees{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.tax-price{
    display: flex;
    align-items: center;
}
.tax-price h3{
    margin-right: 10px;
}
.tax-price p{
    background-color: #1A1A1A;
    border-radius: 20px;
    padding: 10px;
}
.list-price p{
    color: #999999;
    margin-bottom: 10px;
}
.tax{
    gap: 20px;
}
.card1{
    box-shadow:1px 1px 10px #262626;
    padding: 20px;
    margin-bottom: 30px;
    border:1px solid #262626;
}


/*journey*/

.journey{
    display: flex;
    margin: 50px;
    gap: 100px;
    align-items: center;
}

.left-zero{
    width: 70%;
}
.left-zero p{
    color: #999999;
    margin-top: 20px;
}


/*footer*/

.input input, .input button{
    background: transparent;
    border: none;
}
.email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px #262626;
    padding: 14px;
}
.footer{
    display: flex;
    align-items: flex-start;
    margin:100px 50px;
    justify-content: space-between;

}
.homes p{
    color:#999999;
    margin-bottom: 20px;
}
.input-image{
    margin-bottom: 10px;
}
.Homed{
    display: flex;
    gap: 80px;
}
/*footer*/

.input input, .input button{
    background: transparent;
    border: none;
}
.email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px #262626;
    border:1px solid #262626;
    padding: 14px;
}
.footer{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 50px;
    justify-content: space-between;

}
.homes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.homes p{
    color:#999999;
    margin-bottom: 20px;
}
.input-image{
    margin-bottom: 10px;
}
.terms{
    display: flex;
    background-color: #1A1A1A;
    padding: 12px 50px;
    justify-content: space-between;
    align-items: center;
}
.condition{
    display: flex;
    gap: 20px;
}


/*terms*/
.terms{
    display: flex;
    background-color: #1A1A1A;
    padding: 12px 50px;
    justify-content: space-between;
    align-items: center;
}
.condition{
    display: flex;
    gap: 20px;
}





@media screen and (max-width:641px) {

    .nav-ul{
        display: none;
    }
    .button-outline{
        display: none;
    }
    .menu{
        display: flex;
        position: absolute;
        top: 10%;
        right: 0%;
        padding:  20px;
    }
    nav{
        padding: 15px 20px;
    }
     .journey{
        margin: 50px 20px;
        flex-direction: column;
        gap: 30px;
    }
    .left-zero{
        width: 100%;
    }
    .button-solid{
        padding: 12px 20px;
    }
    .footer{
        margin: 30px 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .input, .left,.right, .text input{
        width: 100%;
    }
    .Homed{
        gap: 30px;
        flex-wrap: wrap;
    }
    .homes{
    width: 40%;
    margin-right: 30px;
    }
    .terms{
        flex-direction: column-reverse;
        gap: 10px;
    }
    .condition{
        flex-direction: column;
        align-items: center;
    }

    .location{
        flex-direction: column;
    }
    .img2, .p2{
        display: none;
    }
    .heroimages{
        display: flex;
        flex-direction: column-reverse;
    }
    .image img{
        width: 100%;
    }
    .hero{
        margin: 50px 20px;
    }
    .features, .inquire{
        flex-direction: column;
        margin: 20px;
    }
    .key,.description, .card{
        width: 100%;
    }
    .details{
        flex-direction: column;
        margin: 20px;
    }
    .list-price{
        flex-direction: column;
        margin: 20px;
    }
    .card1{
        margin-top: 10px;
    }
    .note{
        flex-direction: column;
        align-items: flex-start;
    }
    .card2{
        display: none;
    }
    .faq{
        margin: 20px;
    }
    .imagelists img{
        width: 23%;
    }

}    