*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color:white;
     font-family: "Urbanist", sans-serif;
    font-weight: 400;
}
body{
    background-color: #141414;
}
a{
    text-decoration: none;
    color: inherit;
    transition: all 0.5s ease;
}
a:hover{
    opacity: .7;
}

/* header */

header{
    background: url('/Assets/abstract.png'), linear-gradient(to top, rgba(0, 0, 0, 0.756), rgba(0, 0, 0, 0.739));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
}
.header-cancel{
    position: absolute;
    right: 20px;
    background: rgba(255, 255, 255, 0.126);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.header-cancel:hover{
    background: rgba(255, 255, 255, 0.226);
}

/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    border-top: 1px solid rgba(128, 128, 128, 0.507);
    border-bottom: 1px solid rgba(128, 128, 128, 0.507);
}
.nav-ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
.active-navlink{
     background: transparent;
    border: 1px solid rgba(128, 128, 128, 0.507);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
  
}
.button-outline{
    background: transparent;
    border: 1px solid rgba(128, 128, 128, 0.507);
    padding: 12px 24px;
    font-size: 1.1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.button-solid{
    color: white;
    background: #703BF7;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}
.button-solid:hover{
    background: white;
    color:#703BF7 ;
}
.button-outline:hover{
    background: gray;
    color: black;
}
.menu-icon{
    width: 24px;
    height: 24px;
    display: none;
    cursor: pointer;
}

/* hero section */

.hero{
    display: flex;
    
    align-items: center;
    text-align: center;
   
    padding-left:60px;
    gap: 20px;
}
.hero-left{
   flex: 1;
   display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hero-left h1{
    font-size: 46px;
    font-weight: 500;
    text-align: start;
}
.hero-left p{
    margin: 20px 0;
    font-size: 20px;
    text-align: start;
    color: #b3b3b3;
}
.hero-left .hero-buttons{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero-left .hero-cards-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
    gap: 30px;
}
.hero-left .hero-card{
    background-color: rgba(128, 128, 128, 0.145);
    padding: 14px 20px;
    border-radius: 10px;
    border: 1px solid #703BF7;
    text-align: start;
}
.hero-card h2{
    font-weight: 600;

}
.hero-card p{
   
    color: #b3b3b3;
}

.hero-right{
    flex: 1;
    position: relative;
}
.hero-right .house-img{
    width: 100%;
   
}
.circle-text{
    position: absolute;
    top: 80px;
    left: -60px;
}


/* feature section   */

.feature{
    display: flex;
    
    align-items: center;
    gap: 10px;
    padding: 20px;
   
}
.feature-card{
    background-color: rgba(128, 128, 128, 0.145);
    padding: 14px 20px;
    border-radius: 10px;
    border: 1px solid #703BF7;
    text-align: start;
    flex: 1;
    height: 160px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    font-size: .8rem;
}
.top-arrow{
    position: absolute;
    top: 20px;
    right: 20px;
}

/* featured properties */
.featured-properties{
    padding:  60px;
}
.featured-properties h2{
    margin-bottom: 20px;
}
.featured-properties-upper{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: end;
    justify-content: space-between;
}
.featured-properties-upper button{
    text-wrap: nowrap;
    padding: 10px 20px ;
    height: fit-content;
}
.featured-properties-upper p{
    color:#999999;
    font-size: .8rem;
}
.featured-cards-wrapper{
    display: flex;
    gap: 20px;
    padding: 50px 0px 0px 0px;
    width: inherit;
    overflow-x: hidden;
}
.featured-card{
    flex:1;
    border: 1px solid rgba(128, 128, 128, 0.507);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 10px 20px 10px;
}
.featured-card a{
    text-decoration: underline;
    color: white;
}
.featured-card .main-img{
    width:100%;
}
.featured-card-text{
    margin-top: 10px;
}
.featured-card-text p{
    font-size: .8rem;
    color: #b3b3b3;
    margin: 10px 0;
}
.room-features-wrapper{
    display: flex;
    gap: 20px;
    margin: 20px 0px;
}
.room-feature{
    color: #b3b3b3;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgba(128, 128, 128, 0.145);
    padding: 4px 8px;
    border-radius: 4px;
}
.room-feature img{
    width: 16px;
    height: 16px;
}
.featured-card-lower{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.featured-card-lower .price h5{
    margin-bottom: 4px;
    font-size: .7rem;
    color: #b3b3b3;
}
.featured-card-lower  button{
    font-size: .8rem;
}
.feature-card a{
    text-decoration: underline;
}
.section-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    gap: 30px;
    border-top: 1px solid rgba(128, 128, 128, 0.507);
    padding-top: 10px;
}
.section-nav .other{
    color: #b3b3b3;
}
.section-nav img{
    width: 18px;
    height: 12px;
}
.section-nav button{
    padding: 5px;
    height: fit-content;
    border-radius: 50%;
}
.rating-stars{
    display: flex;
    gap: 8px;
    
    margin-bottom: 20px;
}
.rating-card{
    padding: 30px;
}
.rating{
    background-color: rgba(255, 255, 0, 0.175);
    border-radius: 50%;
    padding: 4px 6px;
}
.rating img{
    width: 18px;
    height: 18px;
}
.client-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.client-info img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.client-info h4{
    font-size: .9rem;
}
.featured-card .client-testimony{
    font-size: .8rem;
    color: #b3b3b3;
    
    margin: 10px 0 30px 0;
}
.client-info p{
    font-size: .7rem;
    color: #b3b3b3;
    margin: 0;
}




.final{
    background: url('/Assets/CTA\ \(1\).png'), linear-gradient(to top, rgba(0, 0, 0, 0.756), rgba(0, 0, 0, 0.739));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    padding: 100px;
}
.final-button{
    text-wrap: nowrap;
    height: fit-content;
    font-size: .8rem;
}
.final-left p{
    color:#b3b3b3;
    margin: 20px 0;
    font-size: .8rem;
}
.rating-card h3{
    
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    height: 44px;
    -webkit-box-orient: vertical;
}







.input input, .input button{
    background: transparent;
    border: none;
}
.email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px #262626;
    padding: 14px;
}
.footer{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 50px;
    justify-content: space-between;

}
.homes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.homes p{
    color:#999999;
    margin-bottom: 20px;
}
.input-image{
    margin-bottom: 10px;
}
.terms{
    display: flex;
    background-color: #1A1A1A;
    padding: 12px 50px;
    justify-content: space-between;
    align-items: center;
}
.condition{
    display: flex;
    gap: 20px;
}
/* footer */
.input input, .input button{
    background: transparent;
    border: none;
}
.email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px #262626;
    padding: 14px;
}
.footer{
    display: flex;
    align-items: flex-start;
    margin:100px 50px;
    justify-content: space-between;

}
.homes p{
    color:#999999;
    margin-bottom: 20px;
}
.input-image{
    margin-bottom: 10px;
}
.Homed{
    display: flex;
    gap: 80px;
}
.lower-button{
    display: none;
}
.second-p{
    display: none;
}


@media screen and (max-width: 768px) {
    .header-cancel{
        right: 10px;
    }
    nav{
        padding: 20px;
    }
    .nav-ul{
        display: none;
    }
    .contact-us-button{
        display: none;
    }
    .menu-icon{
        display: block;
    }


    /* hero section */
    .hero{
        flex-direction: column-reverse;
        padding:20px;
        align-items: start;
        gap: 60px;
    }
    .hero-right .house-img{
        border-radius: 20px;
    }
    /* .circle-text {
    position: absolute;
    top:80%;
    left: 20px;
    width: 100px;
    height: 100px;
} */
.hero-left h1 {
    font-size: 26px;
   
}
.hero-buttons{
    flex-direction: column;
    width: 100%;
}
.hero-left .hero-buttons{
    gap: 10px;
}
.hero-cards-wrapper{
    flex-wrap:wrap;;
    justify-content: start !important;
    gap: 10px;
   
}
.hero-card-first, .hero-card-middle{
    width: 44%;
}
.hero-card-last{
    width: 100%;
}
.hero-left p {
   
    font-size: 1rem;
    
}
.feature {
    
    gap: 10px;
    flex-wrap: wrap;
}
.feature-card {
    flex: 1 1 45%;
    font-size: .6rem;
    
}
.featured-properties{
    padding: 60px 20px;
}
.featured-properties-upper{
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.lower-button{
    display: block;
}
.upper-button{
    display: none;
}  
.second-card, .third-card{
    display: none;
}
.first-p{
    display: none;  
}
.second-p{
    display: block;     
    font-size: .6rem; 
    text-wrap: nowrap;   
}
.section-nav-buttons{
    display: flex;
    gap: 4px;
    align-items: center;
}
.section-nav button{
    font-size: .6rem;
    border-radius: 6px;
    padding: 6px 12px;
}
.featured-cards-wrapper{
    flex-direction: column;
    gap: 20px;
}
.final{
    flex-direction: column;
    text-align: start;
    gap: 20px;
    padding: 40px 20px;
}
.final button{
    width: 100%;
}

.terms{
    flex-direction: column-reverse;
}
.Homed{
    flex-wrap: wrap;
    gap: 20px;
}
.footer{
    flex-wrap: wrap;
    margin: 40px 20px;
}
.condition{
display: flex;
flex-direction: column;
gap: 10px;
justify-content: center;
font-size: .8rem;
text-align: center;
}
}